$primary-background: #3c8ce4;
$yellow: #FDC167;
$complement-primary: complement(#4eb7d9);
$complement-yellow: complement(#ffcb4f);
$comp-white: rgb(233, 232, 232);
$font: 'Helvetica Neue', sans-serif;