/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';


body {
  background: $primary-background;
  display: flex;
  justify-content: baseline;
  margin: auto;
}

.side-bar {
  display: flex;
  // align-self: baseline;
  width: 15vw;
  flex-direction: column;
  flex-wrap: wrap;
  // border: solid black;
  // margin: 10px;
  height: 100vh;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

#password, #username {
  width: 70%;
  margin: 10px;
}

.main {
  width: 85vw;
  height: 100vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#blockColorblindContent {
  display: none;
}

.log-in {
  background-color: $yellow;
  margin: auto;
  margin-top: 0px;
  height: 25%;
  width: 75%;
  @include rounded-corners(25px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cycling-images {
  height: 55%;
  width: 55%;
  padding: 15px;
  background-color: $primary-background;
  @include rounded-corners(25px);
  border: 1px solid black;
}

.cycling-image {
  height: 85%;
  width: 85%;
}

.traveler-dashboard,
.agency-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 98%;
  width: 98%;
  background-color: $complement-yellow;
  @include rounded-corners(25px);
  border: 1px solid black;
}

.all-trips,
.amount-spent,
.trip-request,
.pending-trips,
.requested-trips,
.travelers-on-trips,
.search-for-user,
.income {
  width: 48.5%;
  height: 48.5%;
  background-color: $comp-white;
  @include rounded-corners(25px);
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.hide {
  display: none;
}

.scrollable {
  overflow-y: auto;
}

.pending-trip-card,
.trip-card {
  border: 5px solid black;
  width: 60%;
  margin: 5px;
  @include rounded-corners(10px);
  padding: 5px;
}

.key {
  font-weight: bold;
}

.app-name {
  font-family: cursive;
  font-size: 55px;
  color: $comp-white;
  text-shadow: 5px;
  text-shadow: 3px 3px $yellow;
}

.welcome-message {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif
}

.main-menu-travel-deal {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif
}

